@use "../../assets/_variables" as *;
@use "../../assets/_reset" as *;
.card{
background-color: $mapgreen;
border: 2px solid $mapblue;
width: 100vw;
height: 60vh;
font-size: 1rem;
text-align: left;
border-radius: 10px;

  .card__section1{
    height: 38vh;
  text-align: center;
&__image{
  margin-top: 1rem;
  height: 200px;
  width: 200px;
}
&__h2{
  margin-left: 2rem;
  margin-right: 2rem;
}

  }
  .card__p{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
  }
.card__further-info{
  overflow-wrap: break-word;
  color: blue;

  &:hover{
    color: white;
    cursor: grab;
  }
}

  
};

@media only screen and (min-width:768px) {

  .card{

    width: 20vw;
    height: 50vh;

    .card__section1{
      height: 30vh
    }
  }
  
}